.main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.HTML{
    border: 2px solid black;
    height: 20rem;
    margin-left: 1rem;
    width: 33%;
    text-align: center;
}
.CSS{
    border: 2px solid black;
    height: 20rem;
    margin-left: 1rem;
    width: 33%;
    text-align: center;
}
.JS{
    border: 2px solid black;
    height: 20rem;
    margin-left: 1rem;
    width: 33%;
    text-align: center;
}
p{
    color: blue;
    font-size: 1.5rem;
    background-color: yellow;
    border-radius: 10px;
    border: 2px solid red;
    text-decoration: red underline;
    
}
.Output{
width: 98.5%;
height: 18rem;
border: 2px solid black;
justify-content: center;
margin-top: 1rem;
margin-left: 1rem;
text-align: center;
}
#HT{
    width: 98.8%;
    height: 73.4%;
    border: none;
    outline: none;
    resize: none;
    background-color: black;
    color:yellow;
}
#CS{
    width: 98.8%;
    height: 73.4%;
    border: none;
    outline: none;
    resize: none;
    background-color: black;
    color: yellow;
}
#JAVA{
    width: 98.8%;
    height: 73.4%;
    border: none;
    outline: none;
    resize: none;
    color: yellow;
    background-color: black;
}
#code{
    width: 99%;
    height: 70.5%;
    border: none;
}
